#sectionFooter{
    width: 100%;
    height: 15vw;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: rgba(0, 0, 0, 0.76);
    h1{
        margin: 1%;
        position: absolute;

    }
    div{
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        a{
            display: flex;
            flex-direction: row;
            align-items: center;
            img{
                margin: 0% 4% 0% -10%;
                width: 4vw;
                height: 4vw;
            }
        }
        
    }
    @media (max-width: 720px) and (min-height: 360px){
        flex-direction: column;
        align-items: center;
        height: auto;

        h1{
            position: relative;
        }
        div{
            justify-content: center;
            width: 98%;
            margin: 4%;
            a{
                font-size: 2vh;
                
                img{
                    margin: 0;
                }
            }
        }
    }
    
}