#startSection{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.76);
    box-shadow: 0px 0px 10px black;
    h1{
        letter-spacing: 5vw;
        margin: 0;
        margin-left: 4vw;
        font: {
            size: 10vw;
            weight: 100;
        }
        background-color: transparent;
        
    }
    h2{
        font-size: 4vw;
        background-color: transparent;
        margin-left: 4vw;
    }

    div{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: auto;
    }
}



