.show{
    display: flex;
    
}
.hidden{
    display: none;
}
#sectionNav{
    flex-direction: row;
    justify-content: center;
    z-index: 1;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.904);
    border-radius: 5px;
    width: 85vw;
    height: 5vw;    
        button{
            width: 13vw;
            height: 3vw;
            border: 0px{
                radius: 1px;
            }
            cursor: pointer;
            
            background-color: rgb(30, 30, 30);
            z-index: 1;
            opacity: 0.8;
            box-shadow: 1px 1px 10px black;
            transition: border-radius 0.5s, opacity 0.5s;
            &:hover{
                
                opacity: 1;
            
            }
            a{  
                color: rgba(255, 255, 255, 0.959);
                font-size: 2vw;
                text-decoration: underline;
                background-color: transparent;
            }
        }
        

    @media (max-width: 720px) and (min-height: 360px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 20vh;
        height: 60vh;
        div{
            background-color: rgb(31, 31, 31);
            margin: 14% 0% 0%;
            width: 80%;
            height: 10%;
            button{
                width: 100%;
                height: 100%;
                a{
                    font-size: 2.5vh;
                }
            }
        }
    }
    @media (max-width: 720px) and (max-height: 359px){
        width: 100vw;
        height: 10vw;
        div{
            button{
                width: 16vw;
                height: 5vw;
            }
        }
        
    }
}
