#myPresentation{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    min-height: 20vw;
    background-color: rgb(50, 50, 50);
    margin-left: 10vw;
    box-shadow: -5px 5px 10px black;
    img{
        margin: 3%;
        width: 20%;
        height: 100%;
        border-radius: 100%;
        object-fit: contain;
    }
    h1{
        margin: 1% 3%;
    }
    h3{
        margin: 0% 3%;
    }
    p{
        margin: 2vw 0px 0px 2vw;
        transition: border-radius 0.5s, opacity 0.5s;
    }
    
}