//Import Section
@import "./components/Presentation/Presentation";
@import "./components/PushButtons/PushButton";
@import "./components/Start/Start";
@import "./components/Navigation/Navigation";
@import "./components/Content/Content";
@import "./components/Footer/Footer";

//General Styles
*{
    body{
        background-color: rgb(30, 30, 30);
        
    }
    background-color: transparent;
    scroll-behavior: smooth;
    margin: 0px;
    font: {
        family: 'Raleway', sans-serif;
        weight: 100;
        size: 1.5vw;
    }
    color: rgba(255, 255, 255, 0.959);
    letter-spacing: 1px;

    #myBtn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 5vw;
        height: 5vw;
        position:fixed;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.904);
        border: none;
        border-radius: 5px;
        
        div{
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 30px;
            width: 50%;
            height: 7%;
            margin: 5%;
        }
        @media (max-width: 720px) and (min-height: 360px){
            width: 10vh;
            height: 10vh;
        }
        @media (max-width: 720px) and (max-height: 359px){
            width: 6vw;
            height: 6vw;
        }
    }
    
    h1{
        font-size: 3vw;
        margin: 5vw 10vw 1vw;
        
        @media (max-width: 720px) and (min-height: 360px){
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           font-size: 5vh;
           margin: 5vw 10% 1vw;
        }
    }
    br{
        width: 5vw;
    }

}






