*{

    font: {
        family: Raleway;
        weight: 300;
    }
    background-color: rgb(229, 231, 233);
}

@import "../src/components/Hero/Hero";
@import "../src/components/PushButtons/PushButton";


