@import "../src/components/Hero/Hero";
@import "../src/components/PushButtons/PushButton";
@import "../src/components/Start/Start";
*{
    


    font: {
        family: Raleway;
        weight: 100;
    }
    color: white;
    background-color: rgb(39, 55, 70);
}




