
#myPresentation{
    display: none;
   
}

img{
   
    margin-right: 130px;
}
@mixin presentationStyle($size) {

    font-size: $size;

}
#textSection{

    margin-right: 300px;
    
    h1{
        @include presentationStyle(50px);
        margin: 25px 0px 0px 0px;
    }

    h2{
        
        @include presentationStyle(30px)

    }
}