section{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 0px 0px 0px -100px; 
}

#textSection{

    width: auto;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0px 0px -130px -100px;

}
h1{

    font-size: 60px;
}

h2{

    font-size: 30px;
    margin: -50px 0px 0px 0px;
}